#include? "../Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig"

BLINKLY_ACHIEVEMENTS_AD_UNIT_ID = REPLACE_BEFORE_IOS_RELEASE_ACHIEVEMENTS_BANNER_ID
BLINKLY_GARDEN_AD_UNIT_ID = REPLACE_BEFORE_IOS_RELEASE_GARDEN_BANNER_ID
BLINKLY_ADS_BUILD_TYPE = RELEASE
BLINKLY_IOS_ADS_RELEASE_READY = NO
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREPROCESSOR_DEFINITIONS = $(inherited) BLINKLY_FIREBASE_ANALYTICS_DEBUG=0
