<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>GIDClientID</key>
	<string>38221976818-2ajd25hrjgvmkb7uvlkitdehnehcht4a.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>38221976818-8l1vpr8cee88mfi524122j8apjs3866i.apps.googleusercontent.com</string>
	<key>BlinklyAchievementsAdUnitId</key>
	<string>$(BLINKLY_ACHIEVEMENTS_AD_UNIT_ID)</string>
	<key>BlinklyGardenAdUnitId</key>
	<string>$(BLINKLY_GARDEN_AD_UNIT_ID)</string>
	<key>BlinklyAdsBuildType</key>
	<string>$(BLINKLY_ADS_BUILD_TYPE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.38221976818-2ajd25hrjgvmkb7uvlkitdehnehcht4a</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
